{% extends "site.html" %}
{% block content %}
<div class="index">
    <div class="row mb-3 align-items-center">
        <div class="b-r col-md-6">
            <h3 class="mt-3 mt-md-3">Hi {{ user.getName() }}!</h3>
            <p>You have requested elevated access to the <code class="text-nowrap">{{ gateway }}</code> gateway. Please state your business, and set the needed duration.</p>

            {% for message in flashMessages %}
            <p class="alert alert-{{ message.isError() ? 'danger' : 'success' }}">{{ message.getMessage() }}</p>
            {% endfor %}

            <form method="post" action="/createRequest">
                <input type="hidden" name="postToken" value="{{ postToken }}">
                <input type="hidden" name="gateway" value="{{ gateway }}">

                <div class="form-group">
                    <label for="comment">Reason</label>
                    <textarea name="reason" class="form-control" id="reason" rows="4" placeholder="Reason for access"></textarea>
                </div>

                <div class="form-group">
                    <label for="duration">Duration</label>
                    <div class="row">
                        <div class="col">
                            <input type="range" value="1" min="1" max="8" class="form-control-range" id="duration" name="duration">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="duration-display" type="text" readonly class="form-control-plaintext">
                        </div>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" id="submit" value="Submit">
            </form>
        </div>
        <div class="b-r col-md-6 mt-3 mt-md-5">
            <img class="img-fluid d-none d-md-block" src="/images/nais-icon.svg">
        </div>
    </div>
    {% if requests %}
    <div class="row">
        <div class="b-r col-md-12">
            <h2 class="mt-3 mt-md-3">Audit log</h2>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <caption>Last 10 access requests</caption>
                    <thead>
                        <tr>
                            <th scope="col">Gateway</th>
                            <th scope="col">Reason</th>
                            <th scope="col" class="text-nowrap">Expiry date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in requests %}
                        <tr>
                            <th scope="row"><span class="text-nowrap">{{ request.gateway }}</span></th>
                            <td>{{ request.reason|nl2br }}</td>
                            <td>
                                {% if request.isRevoked %}
                                <em title="Revoked on: {{ request.revoked|date('d/m/Y, H:i:s', 'Europe/Oslo') }}">Revoked</em>
                                {% elseif request.hasExpired %}
                                <em title="Expired on {{ request.expires|date('d/m/Y, H:i:s', 'Europe/Oslo') }}">Expired</em>
                                {% else %}
                                <form class="form-inline" method="post" action="/revokeAccess">
                                    <input type="hidden" name="postToken" value="{{ postToken }}">
                                    <input type="hidden" name="requestId" value="{{ request.id}}">
                                    <span class="text-nowrap">
                                        <button type="submit" class="btn p-0 pr-2 text-danger" title="Revoke access">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-octagon-fill align-baseline" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zm-6.106 4.5a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z">
                                                </path>
                                            </svg>
                                        </button>
                                        {{ request.expires|date('d/m/Y, H:i:s', 'Europe/Oslo') }}
                                    </span>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block script %}
<script>
    document.querySelector('#duration').addEventListener('input', (event) => {
        const value = event.target.value;
        document.querySelector('#duration-display').value = `${value} hour${value != 1 ? 's' : ''}`;
    });

    const event = document.createEvent('Event');
    event.initEvent('input', true, true);
    document.querySelector('#duration').dispatchEvent(event);
</script>
{% endblock %}
